[Unit]
Description=Service to starting webserver
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=java -jar /opt/sample/service.jar
User=andrii
RestartSec=10
Restart=always
Environment=PORT=8888

[Install]
WantedBy=multi-user.target
